@import "../sass/components/variables";

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 50rem;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  text-align: center;
  background: #fffc00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    $color-white,
    /* #fffc00*/ #e2eff9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $color-white,
    /* #fffc00*/ #e2eff9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 1rem;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  box-shadow: 0 1px 8px rgba($color-black, 0.6);
}

img {
  width: 25%;
  object-fit: contain;
}

.copyright {
  display: inline-flex;
}

p {
  margin: 0;
  padding: 0;
}

p a {
  margin: 0;
  padding: 0;
  font-weight: 100px;
  cursor: pointer;
  color: $text-color-primary;
  font-weight: 100;
  text-decoration: none;
  border-bottom: 1px solid #173b6c;
  padding-bottom: 1px;
}
