<div class="content-body">
  <h2 class="h2">Terms of Use</h2>
  <p>
    Boardroom Pty Limited (ABN 14 003 209 836) ("<strong>BoardRoom</strong>",
    "we" or "us") provides this site for use by persons ("<strong>you</strong>")
    who would like to apply for securities issued by clients of BoardRoom (these
    securities are referred to collectively as "<strong>holdings</strong>").
  </p>

  <p>
    By accessing this site, you agree to be bound by these terms of use
    ("Terms"). If you do not accept these Terms, you must cease using this site.
  </p>

  <p>
    Please see our Privacy Policy for details of how we may collect and maintain
    personal information obtained through this site.
  </p>

  <p>
    The headings in this document are provided for convenience and are not to be
    used in interpretation.
  </p>

  <h3 class="h3">Accuracy of Information</h3>
  <p>
    While BoardRoom takes reasonable care to ensure the information provided in
    this site is complete, current and correct, you may not hold BoardRoom
    liable or responsible for any errors or omissions. In particular, BoardRoom
    will not be responsible for:
  </p>

  <ul class="list-styled">
    <li>
      information on this site which has been provided to BoardRoom by third
      parties;
    </li>
    <li>verifying information provided by you or on your behalf.</li>
  </ul>
  <p>
    You are solely responsible for any use you choose to make of this site, and
    you accept liability for any and all losses, damages, costs or otherwise
    resulting directly or indirectly from the use of this site. BoardRoom
    specifically disclaims all liability for any losses, claims or damages that
    may be incurred as a consequence of the use of this site, or the use of
    information obtained through this site.
  </p>

  <h3 class="h3">Privacy</h3>
  <p>
    Protecting your right to privacy and protecting the data we hold is
    important to BoardRoom. Any personal information collected through this site
    will be handled in accordance with our Privacy Policy
  </p>
  <p>
    Personal information collected through this site by BoardRoom is stored in
    secure electronic databases The databases are located within Australia.
    BoardRoom takes reasonable steps to ensure that the personal information
    that we hold is secured against such risks as loss or unauthorised access,
    destruction, use, modification or disclosure.
  </p>

  <h3 class="h3">General</h3>
  <p>
    Information provided through this site does not constitute a recommendation
    by BoardRoom with respect to dealing in securities. The information is
    general in nature and does not take into account your personal
    circumstances, your financial needs or investment objectives. You should
    always obtain independent financial advice before buying or selling
    securities.
  </p>

  <h3 class="h3">Terms of Services</h3>
  <p>
    This Application Form forms part of, and accompanies, the Information
    Memorandum ("IM") which offers units in the Fund issued by Regal Funds
    Management Pty Ltd (ABN 30 107 576 821). (["REGAL"] I, we, us, our) is the
    trustee and the manager for the Fund offered in the IM. REGAL is authorised
    and regulated by the Australian Securities & Investments Commission (“ASIC”)
    with the Australian Financial Services Licence No 277737 (AFSL) . Terms
    defined in the IM and Additional Information have the same meaning in this
    Application Form. The IM contains important information about investing in
    the relevant Fund, and you are advised to read the IM before completing this
    Subscription Agreement.
  </p>

  <p>
    <strong>Collection Notification and Privacy Statement:</strong> The personal
    information in this form is collected by Boardroom Pty Limited
    ("Boardroom"), as registrar for the issuer of the securities you hold.
    Boardroom Pty Limited’s privacy policy can be viewed on our website
    (www.boardroomlimited.com.au). Your personal information is required for
    administration of the register of securityholdings. Should some or all of
    the requested information not be provided correct administration of your
    securityholding may not be possible. Your personal information may be
    disclosed to the issuer of the securities you hold, its or our related
    bodies corporate, external service companies such as print or mail service
    providers or otherwise as permitted by law. If, in accordance with the
    provisions of the Corporations Act the issuer of the securities you hold
    approves, you may be sent marketing material in addition to general
    corporate communications. You may elect not to receive marketing material by
    contacting BoardRoom. You can obtain access to your personal information and
    (if required) advise of any incorrect, inaccurate or out of date data
    information held, by contacting BoardRoom on 1300 737 760
  </p>

  <h3 class="h3">Changes to these terms</h3>
  <p>
    BoardRoom reserves the right to modify these terms of use from time to time
    at our sole discretion.
  </p>
</div>
