.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__content {
    @include absCenter;
    width: 90%;
    background-color: $text-color-hover;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.5s 0.2s;
  }

  //open state of contact popup window
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: #111;
      position: absolute;
      top: 0.5271rem;
      right: 1.5rem;
      font-size: 2rem;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      display: inline-block;
      line-height: 1;
      transition: all 0.2s ease-out;
    }

    &:hover {
      color: $text-color-primary;
    }
  }
}

.heading-secondary {
  color: $text-color-primary;
  font-weight: 400;
}

.heading-tertiary {
  color: $border-color-primary;
  font-size: 0.775rem;
}
