<div class="content-body">
  <h2 class="h2">Privacy Policy</h2>
  <p>
    Boardroom Pty Limited (ABN 14 003 209 836) ('<strong>BoardRoom</strong>')
    provides a comprehensive range services to listed and unlisted entities,
    public, private and member based organisations.
    <br /><br />
    Protecting personal information provided to us is important and integral to
    our business philosophy and ethics.
    <br /><br />
    We are required to comply with the Australian Privacy Principles contained
    in the <em>Privacy Act 1988</em> (Cth). We trust the information contained
    in this Privacy Policy will give you an understanding how BoardRoom
    collects, manages, uses and safeguards your personal information. We
    understand that privacy is important to you. <br /><br />
    By accessing the website,
    <a href="http://www.boardroomlimited.com.au">www.boardroomlimited.com.au</a>
    or using our services, you agree to be bound by the terms of this Privacy
    Policy. <br /><br />
    This Privacy Policy (which is current as at 12 March 2014) may be amended
    from time to time. Amendment may be required to take account of legislative
    changes or changes to BoardRoom's practices which may affect the manner in
    which we maintain information.
  </p>
  <h3 class="h3">What Services Do We Provide?</h3>
  <ul>
    <li>
      Securities registry management: including maintenance of the register of
      names and addresses of securityholders; facilitation of communications
      from issuers to securityholders; facilitation of the payment of dividends
      and distributions to securityholders and the handling securityholder
      enquiries
    </li>
    <li>
      Employee equity plan management which involves the provisions of similar
      services to those provided for securities registry maintenance;
    </li>
    <li>
      Ballot and Voting management: which involves the preparations for and
      conduct of an election or ballot; provision of information to eligible
      voters and the collection and counting of votes in accordance with any
      applicable legislation or rules;
    </li>
    <li>
      Provision of corporate secretarial support: where staff of BoardRoom may
      be named as company secretary for proprietary or public companies or may
      assist by providing administrative support to the person already named as
      company secretary; and
    </li>
    <li>
      Payroll administration; ranging from a record keeping function to the
      actual payment to relevant employees.
    </li>
  </ul>

  <h3 class="h3">What Information Do We Collect?</h3>
  <p>
    In its capacity as a securities registrar, employee equity plan
    administrator, provider of company secretarial support services and payroll
    administrator, BoardRoom collects personal information including name and
    address details, securityholding or plan participation details and balances,
    bank account details, tax file numbers, dates of birth, telephone numbers
    and email addresses.
    <br />
    <strong>How Information Is Collected And Stored</strong>
    <br />
    BoardRoom only collects personal information where it is necessary to enable
    the provision of services.
    <br />
    If you do not provide some or all of the requested personal information,
    BoardRoom may not be able to provide services (such as securities registry
    or plan administration services) to you.
    <br />
    <em>Personal information may be provided to us:</em>
  </p>

  <ul>
    <li>
      directly by securityholders or employee equity plan participants,
      verbally, on application forms, advices of banking instructions, tax file
      numbers, statutory declarations, or other documentation or through the
      online internet based facilities available for use by securityholders or
      employee plan participants, all of which are associated with the
      administration of a securities register or an employee equity scheme;
    </li>
    <li>by securities issuers;</li>
    <li>by securities exchanges;</li>
    <li>by stockbrokers or financial advisers;</li>
    <li>by users of the internet based facilities offered by BoardRoom;</li>
    <li>by clients who use our voting management services;</li>
    <li>
      by clients who use our payroll administration services or the employees of
      those clients; and
    </li>
    <li>
      by directors and/or other officers of companies to which we provide
      company secretarial services.
    </li>
  </ul>
  <p>
    Personal information is stored in secure electronic databases and where
    applicable, on paper documents. Any information on paper documents is stored
    in secure, offsite storage facilities for a period of time determined by law
    or client's instructions. The databases and offsite storage facilities are
    both located within Australia.
    <br /><br />
    BoardRoom takes reasonable steps to ensure the security of personal
    information held by it from such risks as loss or unauthorised access,
    destruction, use, modification or disclosure.
  </p>
  <h4 class="h4">Cookies and Web logs</h4>
  <p>
    We use cookies and web logs on our website to improve its functionality.
    Cookies are a small text file that our websites may place on your computer
    and collect information such as your internet protocol address, your
    computer's operating system, browser type and traffic patterns.
    <br /><br />
    You may adjust your internet browser to disable cookies or to inform you
    when one is being used. If you choose to disable cookies, you may be unable
    to access certain areas of our website.
    <br /><br />
    Sometimes our website contains links to other websites for convenience and
    information. When you access a website other than
    <a href="http://www.boardroomlimited.com.au" target="_blank"
      >www.boardroomlimited.com.au</a
    >
    please understand that we are not responsible for the privacy practices of
    that site.
  </p>
  <h3 class="h3">How Personal Information Is Used</h3>
  <p>
    Personal information is collected and used to provide related services that
    are connected to the initial purpose:
  </p>

  <ul>
    <li>
      Maintenance of security registers which securities issuers are obliged to
      maintain under the <em>Corporations Act 2001</em> (Cth) ("<strong
        >Corporations Act</strong
      >");
    </li>
    <li>
      Provision of registry and employee equity plan administration related
      services; payment of dividends/distributions, corporate communications
      including notice of meetings, financial results, annual reports and other
      information that securities issuers may wish to communicate to their
      securityholders or participants in the employee equity plan;
    </li>
    <li>
      Facilitating compliance by BoardRoom's clients with legal and regulatory
      requirements; or
    </li>
    <li>
      Provision of voting management related services; distribution of voting
      information, collection and counting of votes.
    </li>
  </ul>

  <p>
    Personal information may also be disclosed to the securities issuer,
    regulatory authorities including the Australian Taxation Office, authorised
    security brokers or authorised financial advisers and external providers of
    services such as IT support, printers and mail houses who would assist
    BoardRoom in providing services.
    <br /><br />
    If, in accordance with the provisions of the Corporations Act the issuer of
    the securities you hold (including where you hold securities as a
    participant in an employee equity scheme) approves, you may be sent
    marketing material in addition to general corporate communications. You may
    elect not to receive marketing material by contacting BoardRoom.
    <br /><br />
    Disclosure may also be required or authorised by or under law, to be made to
    law enforcement agencies, government agencies and courts. This could be for
    a number of reasons including prevention or investigation of a fraud or
    crime (or a suspected fraud or crime).
    <br /><br />
    BoardRoom does not sell, trade, lease or rent personal information.
  </p>

  <h3 class="h3">Cross border data transfers</h3>

  <p>
    Unless required by law, BoardRoom will not disclose personal information to
    an overseas recipient. However, when requested by one of its (BoardRoom's)
    clients, a related party of BoardRoom wherever situated (including in Hong
    Kong, Malaysia, Singapore and China) may use personal information collected
    by BoardRoom to assist BoardRoom in providing services to the BoardRoom
    client which made the request.
  </p>

  <h3 class="h3">How You Can Access And Correct Your Personal Information</h3>
  <p>
    You have the right to access, correct and update the personal information
    that we hold about you.
    <br /><br />
    To ensure the integrity and safety of personal information, BoardRoom will
    only disclose, correct and update information if our internal procedures are
    satisfied.
    <br /><br />
    Depending on the nature of your request, your personal information may be
    stored in our archives which are not current records. You might be asked to
    complete a personal information request form and in certain cases we may
    charge you a fee for this service but will inform you at the time.
    <br /><br />
    If your personal information is relating to a securities holding which is a
    broker sponsored CHESS holding, you will need to contact that broker to
    update your registered name or address.
  </p>
  <strong>Further Information</strong>
  <p>
    If you have any questions or comments about our Privacy Policy or if you
    wish to make a complaint about how we have handled personal information
    about you, please contact BoardRoom's Privacy Officer who will try to
    resolve the matter within ten (10) business days. If we are unable to
    resolve the matter within that time, we will contact you to let you know how
    long it will take to resolve the complaint or, if more appropriate, suggest
    the matter be referred to the Privacy Commissioner. BoardRoom's Privacy
    Officer contact details are:
    <br />
    <a href="mailto:privacyofficer@boardroomlimited.com.au"
      >privacyofficer&#64;boardroomlimited.com.au</a
    >
    <br />
    or
    <br />
    The Privacy Officer<br />
    Boardroom Pty Limited<br />
    GPO Box 3993<br />
    Sydney NSW 2001
    <br />
  </p>
</div>

