@import "../../sass/components/variables";
@import "../../sass/components/mixins";
@import "../../sass/components/utilities";
@import "../../sass/components/animations";
@import "../../sass/components/button";
@import "../../sass/components/popup";

.home {
  @include flex-display;
  align-items: center;
  text-align: center;
  backface-visibility: hidden;
}

header {
  margin-bottom: 0;
}

header div {
  margin-bottom: 0.5rem;
}

menu {
  margin: 0;
  padding: 0;

  @include clearfix;
}

menu a {
  font: inherit;
  cursor: pointer;
  background-color: $text-color-primary;
  border-radius: 10rem;
  border: none;
  padding: /*0.35rem 0.8rem;*/ 0.75rem 1.275rem;
  font-size: 0.9rem;
  color: $color-white;
  transition: all 0.2s ease-out;
}

.btn:link,
.btn:visited {
  display: inline-flex;
  position: relative;
}

menu a:hover,
menu a:active {
  background-color: $text-color-hover;
}

menu a:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

menu a:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 1.1rem;
  margin: 0.5rem;
  padding: 0;
  letter-spacing: 0.01275rem;
  font-weight: 400;

  @include headingMain;

  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

p {
  margin: 0;
  font-size: 0.75rem;
  text-wrap: balance;
  padding: 0.5rem;

  animation: moveInRight 2s ease-out;

  /*animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out; */
}

p a:link,
p a:hover,
p a:visited {
  color: $text-color-primary;
  font-weight: 100;
  text-decoration: none;
  border-bottom: 1px solid $border-color-primary;
  padding-bottom: 1px;
}

a:link,
a:hover,
a:visited {
  font-weight: 100;
  text-decoration: none;
}

@media (min-width: 800px) {
  menu a {
    display: none;
  }

  .heading-primary {
    font-size: 2.25rem;
    letter-spacing: 0.1275rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.75rem;
    margin: 0.75rem;
    padding: 0;
    letter-spacing: 0.1275rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }

  menu {
    width: auto;
  }

  p {
    font-size: 1.5rem;
    padding: 0.75rem;
  }
}
