<section class="home" id="#section-home">
  <header>
    <h1 class="heading-primary">Investment Strategies</h1>
    <div>
      <p>
        Please click on the Fund that you would like to submit an online
        application for. If you require any assistance, please contact Wilson
        Asset Management Investor Services Team on 1300 420 372 or email
        <a href="mailto:info@wilsonassetmanagement.com.au"
          >info&#64;wilsonassetmanagement.com.au</a
        >. If you would like further information on our other products, please
        visit Wilson Asset Management
        <a
          href="https://wilsonassetmanagement.com.au/listed-investment-companies/"
          target="_blank"
          >here</a
        >.
      </p>
    </div>
    <menu>
      <a href="#popup" class="" title="Need Assistance">Contact</a
      ><!--btn-animated-->
    </menu>
    <div class="u-margin-top">
      <a
        type="button"
        class="btn btn-blue btn-animated"
        href="https://google.com"
        target="_blank"
        rel="noopener noreferrer"
        title="wam-unlisted offer 1"
      >
        wam-unlisted offer 1</a
      ><!--btn btn-blue -->
      <a
        type="button"
        class="btn btn-blue btn-animated"
        href="https://youtube.com"
        target="_blank"
        rel="noopener noreferrer"
        title="wam-unlisted offer 2"
      >
        wam-unlisted offer 2</a
      ><!--btn btn-blue -->
    </div>
  </header>
</section>

<div class="popup" id="popup">
  <div class="popup__content">
    <a href="#section-home" class="popup__close">&times;</a>
    <h2 class="heading-secondary">Need Assistance</h2>
    <h3 class="heading-tertiary">
      Call 1300 737 760(in Australia)<br />
      +61 2 9290 9600(International)
    </h3>
  </div>
</div>
